@import '@whirli-components/styles/Breakpoints.module.scss';
@import '@whirli-components/styles/Spacers.scss';

// default styles
.base-box {
  width: 100%;
}

$sides: top, right, bottom, left;

@each $side in $sides {
  .padding-#{$side}-none {
    padding-#{$side}: $spacer-none;
  }
  .padding-#{$side}-2xs {
    padding-#{$side}: $spacer-2xs;
  }
  .padding-#{$side}-xs {
    padding-#{$side}: $spacer-xs;
  }
  .padding-#{$side}-sm {
    padding-#{$side}: $spacer-sm;
  }
  .padding-#{$side}-base {
    padding-#{$side}: $spacer-default;
  }
  .padding-#{$side}-md {
    padding-#{$side}: $spacer-md;
  }
  .padding-#{$side}-lg {
    padding-#{$side}: $spacer-lg;
  }
  .padding-#{$side}-xl {
    padding-#{$side}: $spacer-xl;
  }
  .padding-#{$side}-2xl {
    padding-#{$side}: $spacer-2xl;
  }
}

// breakpoint styles
$package-breakpoint-styles: (

);
