@import '../../styles/Breakpoints.module.scss';

// default styles
.list {
    margin: 0;
    padding: 0;
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.style-disc {
    list-style: disc;
}

.style-none {
    list-style: none;
}
// breakpoint styles
$packageBreakpointStyles: ();