@import '@whirli-components/styles/Breakpoints.module.scss';

// default styles
.list {
  margin: 0;
  padding: 0;
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.direction-row {
  flex-direction: row;
}

.listStyle-disc {
  list-style: disc;
}

.listStyle-none {
  list-style: none;
}

// breakpoint styles
$package-breakpoint-styles: ();
