@import '@whirli-components/styles/Breakpoints.module.scss';

// default styles
.accordion__trigger {
  background: none;
  border: none;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
}

.accordion__content {
  overflow: hidden;
  transition: max-height ease-in-out 0.5s;
}

[data-state="open"] .accordion__content {
  max-height: auto;
  max-height: var(--accordion-height);
}

[data-state="closed"] .accordion__content {
  max-height: 0;
}

// breakpoint styles
$package-breakpoint-styles: ();
