@import '../../styles/Breakpoints.scss';

// default styles
.package-background-1 {
    background: green;
}

.package-background-2 {
    background: red;
}

// breakpoint styles
$packageBreakpointStyles: (
    package-color-1: (
        color: pink,
    ),
    package-color-2: (
        color: purple,
    )
);