@import '../../styles/Breakpoints.scss';

// default styles
.container {
    width: 100%;
    max-width: 64rem;
    padding: 1rem;
    margin: auto;
    box-sizing: border-box;
}

// breakpoint styles
$packageBreakpointStyles: ();