@import '../../styles/Spacers.scss';
@import '../../styles/Breakpointsç.scss';

// default styles
.spacer {
    display: block;
    width: 100%;
}

// breakpoint styles
$packageBreakpointStyles: (
    size-0: (
        height: 0
    ),
    size-2xs: (
        height: $spacer2Xs,
    ),
    size-xs: (
        height: $spacerXs,
    ),
    size-sm: (
        height: $spacerSm,
    ),
    size-default: (
        height: $spacerDefault,
    ),
    size-md: (
        height: $spacerMd,
    ),
    size-lg: (
        height: $spacerLg,
    ),
    size-xl: (
        height: $spacerXl,
    ),
    size-2xl: (
        height: $spacer2Xl,
    ),
    size-3xl: (
        height: $spacer3Xl,
    ),
    size-4xl: (
        height: $spacer4Xl,
    ),
    size-5xl: (
        height: $spacer5Xl,
    ),
    size-6xl: (
        height: $spacer6Xl,
    ),
    size-7xl: (
        height: $spacer7Xl,
    ),
);