@import '@whirli-components/styles/Spacers.scss';
@import '@whirli-components/styles/Breakpoints.module.scss';

// default styles
.spacer {
  display: block;
  width: 100%;
}

// breakpoint styles
$package-breakpoint-styles: (
  size-0: (
    height: 0
  ),
  size-none: (
    height: 0
  ),
  size-2xs: (
    height: $spacer-2xs,
  ),
  size-xs: (
    height: $spacer-xs,
  ),
  size-sm: (
    height: $spacer-sm,
  ),
  size-base: (
    height: $spacer-default,
  ),
  size-default: (
    height: $spacer-default,
  ),
  size-md: (
    height: $spacer-md,
  ),
  size-lg: (
    height: $spacer-lg,
  ),
  size-xl: (
    height: $spacer-xl,
  ),
  size-2xl: (
    height: $spacer-2xl,
  ),
  size-3xl: (
    height: $spacer-3xl,
  ),
  size-4xl: (
    height: $spacer-4xl,
  ),
  size-5xl: (
    height: $spacer-5xl,
  ),
  size-6xl: (
    height: $spacer-6xl,
  ),
  size-7xl: (
    height: $spacer-7xl,
  ),
);
