@import '@whirli-components/styles/Breakpoints.module.scss';
@import '@whirli-components/styles/Spacers.scss';
@import '@whirli-components/styles/Helpers.scss';

// default styles
.icon {
    transition: transform ease-in-out 0.3s;
}

.color-inherit {
    color: inherit;
}

.backdrop-default {
    background-color: none !important;
    background: none !important;
}

.backdrop-circle {
    border-radius: 50%;
}

.theme-default {
    background-color: grey;
    color: inherit;
}

.rotate-default { transform: rotate(0); }
.rotate-45 { transform: rotate(45deg); }
.rotate-90 { transform: rotate(90deg); }
.rotate-135 { transform: rotate(135deg); }
.rotate-180 { transform: rotate(180deg); }
.rotate-225 { transform: rotate(225deg); }
.rotate-270 { transform: rotate(270deg); }
.rotate-315 { transform: rotate(315deg); }

// breakpoint styles
$packageBreakpointStyles: (
    size-3xs: (
        height: toRems(8),
        width: toRems(8),
    ),
    size-2xs: (
        height: toRems(12),
        width: toRems(12),
    ),
    size-xs: (
        height: toRems(16),
        width: toRems(16),
    ),
    size-sm: (
        height: toRems(20),
        width: toRems(20),
    ),
    size-default: (
        height: toRems(24),
        width: toRems(24),
    ),
    size-base: ( // Alias default
        height: toRems(24),
        width: toRems(24),
    ),
    size-md: (
        height: toRems(32),
        width: toRems(32),
    ),
    size-lg: (
        height: toRems(40),
        width: toRems(40),
    ),
    size-xl: (
        height: toRems(48),
        width: toRems(48),
    ),
);