@import '@whirli-components/src/components/BaseText/BaseText.module.scss';

// Standard styles

// Breakpoint styles
$localBreakpointStyles: (
    color-pink: (
        color: pink,
    ),
);

@include createBreakpointClasses(map-merge($packageBreakpointStyles, $localBreakpointStyles));