@import '../../styles/Breakpoints.module.scss';
@import '../../styles/Spacers.scss';

// default styles
.tag {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    box-shadow: none;
}

.size-default {
    padding: $spacer2Xs $spacerSm;
}

.theme-default {
    background: grey;
    color: black
}
// breakpoint styles
$packageBreakpointStyles: ();