@import './Helpers.scss';

$spacerNone: 0;
$spacerHairline: 1px;
$spacer3Xs: torems(2);
$spacer2Xs: torems(4);
$spacerXs: torems(8);
$spacerSm: torems(12);
$spacerDefault: torems(16);
$spacerMd: torems(20);
$spacerLg: torems(24);
$spacerXl: torems(32);
$spacer2Xl: torems(40);
$spacer3Xl: torems(48);
$spacer4Xl: torems(56);
$spacer5Xl: torems(72);
$spacer6Xl: torems(80);
$spacer7Xl: torems(96);
