@import './Helpers.scss';

$spacer-none: 0;
$spacer-hairline: 1px;
$spacer-3xs: to-rems(2);
$spacer-2xs: to-rems(4);
$spacer-xs: to-rems(8);
$spacer-sm: to-rems(12);
$spacer-default: to-rems(16);
$spacer-md: to-rems(20);
$spacer-lg: to-rems(24);
$spacer-xl: to-rems(32);
$spacer-2xl: to-rems(40);
$spacer-3xl: to-rems(48);
$spacer-4xl: to-rems(56);
$spacer-5xl: to-rems(72);
$spacer-6xl: to-rems(80);
$spacer-7xl: to-rems(96);
