@import './Helpers.scss';

$spacer4Xs: toRems(4);
$spacer3Xs: toRems(8);
$spacer2Xs: toRems(12);
$spacerXs: toRems(16);
$spacerSm: toRems(20);
$spacerDefault: toRems(24);
$spacerMd: toRems(32);
$spacerLg: toRems(40);
$spacerXl: toRems(48);
$spacer2Xl: toRems(56);
$spacer3Xl: toRems(72);
$spacer4Xl: toRems(80);
$spacer5Xl: toRems(96);