@import '@whirli-components/styles/Breakpoints.module.scss';
@import '@whirli-components/styles/Spacers.scss';

// default styles
.page-number {
  display: flex;
  height: $spacer-md;
  width: $spacer-md;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 $spacer-3xs;
}

.is-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.is-active { background-color: #808080;}

// breakpoint styles
$package-breakpoint-styles: (

);
