@import '@whirli-components/styles/Breakpoints.module.scss';

// default styles
.icon-button {
    background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;

    &:focus {
        outline: solid;
    }
}

.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}


// breakpoint styles
$packageBreakpointStyles: ();