@import '@whirli-components/styles/Breakpoints.module.scss';
@import '@whirli-components/styles/Spacers.scss';

// default styles
.divider {
  border: none;
}

.size-default {
  height: $spacer-hairline;
}

.color-default {
  background-color: #000;
}

// breakpoint styles
$package-breakpoint-styles: ();
