@import '@whirli-components/styles/Breakpoints.module.scss';
@import '@whirli-components/styles/Spacers.scss';

// default styles
.modal {
  box-sizing: border-box;
  padding: $spacerXl;
  max-width: 90%;
  overflow: scroll;
  max-height: 100%;
  position: relative;
}

.modal__close-icon {
  position: absolute;
  top: $spacerXl;
  right: $spacerXl;
}

.modal__title,
.modal__content  {
  width: torems(800);
  max-width: 100%;
}

.color-default {
  background-color: rgb(255 255 255 / 100%);
}

.size-default {
  width: torems(1200);
}

.size-small {
  width: torems(800);
}

// breakpoint styles
$packageBreakpointStyles: ();
