@import '@whirli-components/styles/Breakpoints.module.scss';
@import '@whirli-components/styles/Helpers.scss';

@font-face {
  font-family: Maax;
  src: url('~@whirli-components/assets/fonts/Maax.woff2') format("woff2");
}

@font-face {
  font-family: MaaxBold;
  src: url('~@whirli-components/assets/fonts/MaaxBold.woff2') format("woff2");
}

@font-face {
  font-family: MaaxMono;
  src: url('~@whirli-components/assets/fonts/MaaxMonoRegular.woff2') format("woff2");
}

// default styles
.text {}

.transform-default {
  text-transform: none;
}

.transform-uppercase {
  text-transform: uppercase;
}

.font-sans {
  font-family: Maax, Tahoma, Geneva, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.font-bold {
  font-family: MaaxBold, Tahoma, Geneva, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.font-mono {
  font-family: MaaxMono, Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}


// breakpoint styles
$packageBreakpointStyles: (
  color-inherit: (
    color: inherit,
  ),
  size-3xs: (
    font-size: to-rems(10),
  ),
  size-2xs: (
    font-size: to-rems(12),
  ),
  size-xs: (
    font-size: to-rems(13),
  ),
  size-sm: (
    font-size: to-rems(14),
  ),
  size-default: (
    font-size: to-rems(16),
  ),
  size-base: (
    font-size: to-rems(16),
  ),
  size-md: (
    font-size: to-rems(18),
  ),
  size-lg: (
    font-size: to-rems(20),
  ),
  size-xl: (
    font-size: to-rems(24),
  ),
  size-2xl: (
    font-size: to-rems(28),
  ),
  size-3xl: (
    font-size: to-rems(32),
  ),
  size-4xl: (
    font-size: to-rems(40),
  ),
  size-5xl: (
    font-size: to-rems(48),
  ),
  lineheight-3xs: (
    line-height: to-rems(16),
  ),
  lineheight-2xs: (
    line-height: to-rems(18),
  ),
  lineheight-xs: (
    line-height: to-rems(20),
  ),
  lineheight-sm: (
    line-height: to-rems(22),
  ),
  lineheight-default: (
    line-height: to-rems(24),
  ),
  lineheight-base: (
    line-height: to-rems(24),
  ),
  lineheight-md: (
    line-height: to-rems(28),
  ),
  lineheight-lg: (
    line-height: to-rems(32),
  ),
  lineheight-xl: (
    line-height: to-rems(36),
  ),
  lineheight-2xl: (
    line-height: to-rems(40),
  ),
  lineheight-3xl: (
    line-height: to-rems(42),
  ),
  lineheight-4xl: (
    line-height: to-rems(48),
  ),
  lineheight-5xl: (
    line-height: to-rems(56),
  ),
  letterspacing-default: (
    letter-spacing: to-rems(0),
  ),
  letterspacing-md: (
    letter-spacing: to-rems(1),
  ),
  letterspacing-lg: (
    letter-spacing: to-rems(1.2),
  ),
  letterspacing-xl: (
    letter-spacing: to-rems(1.5),
  ),
  align-default: (
    text-align: left,
  ),
  align-center: (
    text-align: center,
  ),
  align-right: (
    text-align: right,
  )
);
