@import '../../styles/Breakpoints.scss';

// default styles

// breakpoint styles
$packageBreakpointStyles: (
    color-black: (
        color: black,
    ),
    size-base: (
        font-size: 16px,
    ),
    family-arial: (
        font-family: arial,
    )
);