@import '@whirli-components/styles/Helpers.scss';

$breakpoints: (
    tablet: (
        prefix: t,
        min-width: 672px,
    ),
    smallDesk: (
        prefix: sd,
        min-width: 1056px
    ),
    largeDesk: (
        prefix: ld,
        min-width: 1312px
    ),
    hugeDesk: (
        name: hd,
        min-width: 1584px
    ),
);

:export {
    @each $name, $value in $breakpoints {
        BREAKPOINT_#{to-upper-case(#{$name})}: map-deep-get($breakpoints, #{$name}, 'min-width')
    }
}